$sunrise1: #B35E7F;
$sunrise2: #D87387;
$sunrise3: #FA888F;
$sunrise5: #E2C58B;
$sunrise6: #00ABBC;
$sunriseBG: #00659D;
$day1: #D85B00;
$day2: #F38630;
$day3: #E2C58B;
$day4: #DDE1CA;
$day5: #A7DBD8;
$dayBG: #69D2E7;
$sunsetBG: #0E5560;
$nightBG: #5D4157;

@font-face {
  font-family: Asenine;
  src: url(ASENINE_.ttf);
}

body, html {

  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;

}

body {
  color: #FFF;
  /* Rectangle: */
  /* Gradient: */
  background-color: $dayBG;
  /* background-image: radial-gradient(208px 124px, $day1 43%, $day2 60%, $day3 70%, $day4 77%, $day5 85%, $day6 100%); */
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: 0px 100px;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 400ms;
  z-index: 5;
  // overflow-x: scroll;
}

.container.next {
  left: -100%;
}

.city-form-group {
  position: relative;
  width: 50%;
  height: 100%;
  top: 0px;
  float: left;
  left: 0px;
  z-index: 6;


}

.app {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  top: 0px;
  left: 0px;


}

#back {

}

#back-link {
  text-decoration: none;
  color: #FFF;
  font-size: 20pt;
  font-weight: bolder;

}

#temp {

  position: relative;
  font-family: Asenine;
  font-size: 130pt;
  color: #F5F2F2;
  letter-spacing: 3.87px;
  text-shadow: 2px 8px 16px rgba(0,0,0,0.38);
  top: 30px;
  float: right;
  left: 50%;
  transform: translate(-25%, 0);
}

#location-name {
  z-index: 5;
  font-family: Avenir;
  position: relative;
  font-size: 20pt;
  text-align: center;
  color: #F5F2F2;
  text-shadow: 2px 4px 16px rgb(198, 198, 198);
  text-shadow: 2px 4px 16px #c6c6c6;
  top: 255px;
  animation-name: levitate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}

.hide {
  opacity: 0.0;
}

.data-content {
  float: left;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}


.city-form {
  height: 667px;
  width: 375px;
  position: absolute;
  left: 50%;
  top: 0%;
  z-index: 4;
  transform: translate(-50%, 0%);;
}

#city-input-label {
  display: none;
}

.city-form-input {
  position: absolute;
  z-index: 7;
}
#city-input {
  color: #636D7B;
  position: absolute;
  font-size: 11pt;
  background: rgba(232,255,249,0.67);
  // border: 2px solid #636D7B;
  box-sizing: border-box;
  margin: 1em 64px;
  top: 60px;
  width: 246px;
  padding: 8px 8px 8px 44px;
  border-radius: 10px;
  border: none;
  transition: 200ms;
}



#city-input:focus {
  outline: none;
  cursor: text;
  transform: scale(1.2);
  // transform: translate(-100%);
  // transition: 500ms;
  border: 3px;
  border-color: $day5;

}

#submit-button {
  position: relative;
  top: 120px;
  float: left;
  left: 187px;
  transform: translate(-75%, 0);

}

#save-city-button {
  position: relative;
  font-size: 9pt;
  top: 170px;
  left: 50%;
  transform: translate(-75%, 0);
}

button {
  color: #D6FEFF;

  font-size: 11pt;
  background: rgba(53,92,124,0.67);
  border: 0px solid #D6FEFF;
  box-sizing: border-box;
  margin: 1em 20px;
  width: 10  0px;
  padding: 2px 8px;
  border-radius: 6px;
}

button, select:focus {
  outline: none;

}

button:active {
  transform: scale(1.2);

}

#screen {
  height: 667px;
  width: 375px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);;
  // overflow: hidden;
}

/* Standard syntax */
@keyframes rotate {
  from   {transform: translate(-533px, 210px) rotate(-1deg);}
  to  {transform: translate(-533px, 210px) rotate(1deg);}
}

#sun {
  position: absolute;
  transform: translate(-533px, 210px);
  bottom: 12px;
  z-index: -1;

}

@keyframes levitate {
  from {transform: translate(0, 0px);}
  to {transform: translate(0, -10px);}
}

#avatar {
  position: absolute;
  z-index: 3;
  width: 245px;
  left: 66px;
  right: 65px;
  bottom: 12px;
  animation-name: levitate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  // transform: translate(-50%, 50%);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

// body.no-weather .hide-when-empty {
//   opacity: 0;
// }
